<nav>
    <ul>
        <div id="contenedor">
            <div class="pagina">
                <div class="inicio">
                    <li><a (click)="goHome()">Inicio</a></li>
                </div>

                <div class="agregar">
                    <li><a (click)="goAgregarUsuario()">Agregar Usuario</a></li>
                </div>

                <div class="inventario">
                    <li><a (click)="goInventario()">Inventario</a></li>
                </div>

                <div class="reporte">
                    <li><a (click)="goReportes()">Reportes</a></li>
                </div>

            </div>
            <div class="redes">
                <div class="face">
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                </div>
                <div class="insta">
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                </div>
                <div class="email">
                    <li><a href="https://mail.google.com/mail/u/0/">E-mail</a></li>
                </div>
            </div>
        </div>
    </ul>
</nav>