<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Caracteristicas</th>
        <th>Cantidad</th>
        <th>sucursal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>samnsung</td>
        <td>12.23.04</td>
        <td>rosado, 5"</td>
        <td>500.000</td>
        <td>Quilicura</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Lg</td>
        <td>2.3.56</td>
        <td>negros, 6"</td>
        <td>200.000</td>
        <td>Quilin</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Huawei</td>
        <td>4.2.36.4</td>
        <td>bluesky</td>
        <td>100.000</td>
        <td>Vespucio</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>samnsung</td>
        <td>12.23.04</td>
        <td>rosado, 5"</td>
        <td>500.000</td>
        <td>Quilicura</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Lg</td>
        <td>2.3.56</td>
        <td>negros, 6"</td>
        <td>200.000</td>
        <td>Quilin</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Huawei</td>
        <td>4.2.36.4</td>
        <td>bluesky</td>
        <td>100.000</td>
        <td>Vespucio</td>
      </tr>
    </tbody>
  </table>
  
